/*CSS CADASTRO*/

label{
    color: black;
}
h4{
    text-align: center;
    color: black ;
}
img{ /*imagem do banner*/
    border-radius: 20%;
    margin-top: 40px;
    float: center;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 180px;
    max-height: 180px;
}
.col-sm-4{ /*banner*/
    background-color: #4717F6;
    width: 500px;
    height: 700px;
    color: white;
    float: right;
    margin-right: 100px;
    left: 100px;
    margin-top: 0%;
}
.col-sm-5{ /*cadastro*/
    width: 555px;
    border: solid #4717F6;
    border-radius: 10px;
    border-width: 3px;
    left: 200px;
}
p{
    margin-top: 45px;
    font-size: 20px;
    text-align: center;
}
.form-control{/*inputs*/
    border-color: #4717F6;
    border-width: 2px;
}
.btn1{/*Botao login google*/
    color: black;
    border: solid #ca0303;
    border-radius: 5px;
    border-width: 2px;
    height: 40px;
    float: right;
    width: 230px;
    text-align: center;
}
.btn2{/*Botão login facebook*/
    color: black;
    border: solid #0306bdee;
    border-radius: 5px;
    border-width: 2px;
    height: 40px;
    float: left;
    width: 230px;
    text-align: center;
}
.card{
    border: none;
}
.cadastre{
    font-size: 18px;
    background-color: #4717F6;
    color: rgb(247, 247, 247);
    width: 450px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    border-color: #4717F6;
    border-style: 10px;
    margin-top: 10px;
    margin-left: 10px;
}