.col-sm-5{
   float: right;
   margin-right: 350px;
   width: 555px;
   text-align: center;
   margin-top: 40px;

}
img{
    border-radius: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
}
.col-sm-4{
    background-color: #4717F6;
    width: 200px;
    height: 630px;
    color: white;
    float: left;
}
p{
    margin-top: 40px;
    font-size: 20px;
}
