.col-sm-3{
   text-align: center;
   left: 45%;
   float:left;
   margin-top: 200px;
   margin-right: 200px;


}
img{
    border-radius: 20%;
    text-align: center;
    width: 100px;
    height: 100px;
}
.col-sm-2{
    background-color: #30064A;
    width:250px;
    height: 970px;
    color: white;
    float: left;
}
